/* Browser overrides */

* { margin: 0; padding: 0; }

/* Custom CSS */

.content-container {
	width: 960px;
	margin: 0 auto;
}

.stats-container {
	/* #034c15 #044f10 #041c04 */
/*	float: left;
	width: 50%;*/
	/*height: 100vh;*/
	/*background-color: #034c15;*/
}

.chart-container {
	width: 50%;
	float: left;
}


.applicant-container {
/*	float:left;
	width: 50%;*/
	/*background-color: #044f10;*/
}

#applicantTable {
	width: 100%;
}

tr:nth-child(even) {
	background-color: white;
}

tr:nth-child(odd) {
	background-color: #9f9f9f;
}