/* Browser overrides */

* { margin: 0; padding: 0; }

/* Custom CSS */

.content-container {
	width: 960px;
	margin: 0 auto;
	font-family: helvetica;
}

.panache-container {
	width: 50%;
	float: left;
}

	.panache-container label {
		font-size: 2em;
	}

	.panache-container input {
		font-size: 2em;
		width: 50px;
		text-align: center;
	}


	#accordion {
		width: 85%;
		float: left;
	}

		#accordion h3 {
			font-size: .8em;
		}

		#accordion p {
			font-size: .6em;
		}

	.use-deed-buttons {
		width: 15%;
		float: right;
	}